/*
light blue			#59A3D6
dark blue			#254357
gray				#C0C0C0
background white 	#F8F8F8
button hover		#315976
*/

body
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300px;
	padding-top: 50px;
    padding-bottom: 20px;
    background-color: #F8F8F8;
    color: #254357;
}

.jumbotron
{
	background-color: #F8F8F8;
}

a
{
	color: #254357;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

a:visited
{
	color: #254357;
}

a:hover
{
	text-decoration: none;
	color: #59A3D6;
}

.navbar
{
	background-color: #254357;
	font-size: 20px;
}

.icon-bar
{
	background-color: white;
}

.navbar-toggle:hover .icon-bar
{
	/*background-color: white;*/
}

ul.nav a
{
	color: white; /* !important before ; if bugs later on*/
	/*background-color: #254357;*/
}

ul.nav a:hover
{
	color: #254357; /* !important before ; if bugs later on*/
	/*background-color: #254357;*/
}

.logoLetters
{
	width: 750px;
	margin-top: 20px;
}

.fileUpload
{
	border: 2px solid #254357;
	border-radius: 2px;
	max-width: 750px;
	margin-top: 30px;
}

.button
{
	background-color: #254357;
	border-color: #254357;
	border-style: solid;
	border-radius: 2px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: white;
}

.button:hover, .button:focus, .button:active, .button.active
{
	background-color: #315976;
	border-color: #315976;
	color: white;
}

.buttonUpload
{
	margin: 5px;
	font-size: 18px;
	width: 120px;
	height: 40px;
}

.termsCheck
{
	max-width: 300px;
	margin-top: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #254357;
}

.termsCheck a
{
	font-weight: 400;
}

input[type='checkbox']
{
	margin-right: 15px;
}

input[type=checkbox].css-checkbox
{
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
input[type=checkbox].css-checkbox + label.css-label
{
    padding-left: 25px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 20px;
    vertical-align: middle;
    cursor: pointer;
}
input[type=checkbox].css-checkbox:checked + label.css-label
{
    background-position: 0 -20px;
}
label.css-label
{
	background-image: url("../res/checkbox.png");
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scan
{
	max-width: 150px;
	margin-top: 20px;
}

.buttonScan
{
	font-size: 24px;
	width: 150px;
	height: 50px;
}

#fileInput
{
	display: none;
}

footer
{
	position: fixed;
	height: 40px;
	bottom: 0;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #254357;
}

.footer-copyright
{
	display: inline;
	margin-left: 20px;
}

.footer-tos
{
	float: right;
	margin-right: 20px;
	font-weight: 400;
}





