/*
light blue			#59A3D6
dark blue			#254357
gray				#C0C0C0
background white 	#F8F8F8
button hover		#315976
*/

body
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300px;
	padding-top: 50px;
    padding-bottom: 20px;
    background-color: #F8F8F8;
    color: #254357;
}

.jumbotron
{
	background-color: #F8F8F8;
}

a
{
	color: #254357;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

a:visited
{
	color: #254357;
}

a:hover
{
	text-decoration: none;
	color: #59A3D6;
}

.navbar
{
	background-color: #254357;
	font-size: 20px;
}

.container
{
	margin-left: 130px;
	margin-top: -5px;
	margin-bottom: -5px;
}

.icon-bar
{
	background-color: white;
}

.navbar-toggle:hover .icon-bar
{
	/*background-color: white;*/
}

ul.nav a
{
	color: white; /* !important before ; if bugs later on*/
	/*background-color: #254357;*/
}

ul.nav a:hover
{
	color: #254357; /* !important before ; if bugs later on*/
	/*background-color: #254357;*/
}

a.svg
{/* makes SVG clickable*/
 position: relative;
}
a.svg:after
{/* makes SVG clickable*/
  content: ""; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}

.logoLetters
{
	width: 400px;
	margin-top: -10px;
	margin-bottom: 10px;
}

.tableData
{
	font-size: 18px;
	font-weight: 300;
	margin-left: 50px;
	width: 900px;
	border: hidden;
}

.tableData td
{
	min-width: 100px;
	border: hidden;
}

.tableData>thead>tr>th, .tableData>tbody>tr>th, .tableData>tfoot>tr>th, .tableData>thead>tr>td, .tableData>tbody>tr>td, .tableData>tfoot>tr>td
{
    padding: 1px;
}

@media (max-width: 768px)
{
	.tableData
	{
		margin-left: 5px;
	}
}

.tableResults
{
	font-size: 18px;
	font-weight: 300;
	text-align: left;
	max-width: 1000px;
	width: 50%;
	/*border: 2px solid black;*/
}

.tableResults td
{
	width: 1%;
	/*border: 2px solid gray;*/
}

.tableResults th
{
	border-bottom: 1px solid #557387;
	padding-bottom: 5px;
}

.firstRow
{
	padding-top: 10px;
}

#thResults
{
	text-align: center;
}

.avListPad
{
	padding-left: 120px;
	padding-left: 17%;
}

td img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 1200px)
{
	.tableResults
	{
		width: 70%;
	}

	.avListPad
	{
		padding-left: 110px;
		padding-left: 15%;
	}
}

@media (max-width: 768px)
{
	.tableResults
	{
		width: 95%;
	}

	.avListPad
	{
		padding-left: 10%;
	}
}

.resultIcon
{
	max-width: 30px;
}

footer
{
	position: fixed;
	height: 40px;
	bottom: 0;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #254357;
	background-color: #F8F8F8;
	padding-top: 0.7%;
}

.footer-copyright
{
	display: inline;
	margin-left: 20px;
}

.footer-tos
{
	float: right;
	margin-right: 20px;
	font-weight: 400;
}





